{% extends "base.html" %}

{% load static i18n account crispy_forms_tags %}

{% block title %}Password Reset{% endblock title %}

{% block body_attribute %}{% endblock body_attribute %}

{% block content %}

  <div>

    <h4>Please check your email</h4>

    {% if user.is_authenticated %}
      <p>
        {% include "account/snippets/already_logged_in.html" %}
      </p>
    {% endif %}

    <p>
      A email has been send to <b>{{ user.email }}</b>.
      Please check for an email from company and click on the included link to
      reset your password.
    </p>
  </div>

{% endblock content %}

{% block extra_javascript %}{% endblock %}
