{% extends "layouts/base.html" %}

{% load static i18n account crispy_forms_tags %}

{% block title %}Change Password{% endblock title %}

{% block body_attribute %}{% endblock body_attribute %}

{% block content %}

  <div>

    <h1>Change Password</h1>

    <form method="POST" action="{% url 'account_change_password' %}">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>

  </div>

{% endblock content %}

{% block extra_javascript %}{% endblock %}
