{% extends "layouts/base.html" %}

{% load static i18n account crispy_forms_tags %}

{% block title %}Set Password{% endblock title %}

{% block body_attribute %}{% endblock body_attribute %}

{% block content %}

  <div>
    <h1>Set Password</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set" novalidate>
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" name="action" value="Set Password"/>
    </form>
  </div>

{% endblock content %}

{% block extra_javascript %}{% endblock %}
