{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" {% block html_attribute %}{% endblock html_attribute %}>
<head>

  <meta charset="utf-8"/>
  <title> {% block title %}{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

  {% block styles %}{% endblock styles %}

  {% include 'partials/head-css.html' %}

</head>
<body {% block body_attribute %}{% endblock body_attribute %}>

{% block preloader %}{% endblock %}

{% block content %}{% endblock content %}

{% block scripts %}{% endblock scripts %}

</body>
</html>
