{% extends 'base.html' %}

{% load static i18n %}

{% block html_attribute %}data-layout="topnav" data-topbar-color="dark"
  data-menu-color="light"{% endblock html_attribute %}

{% block title %}{% endblock title %}

{% block extra_css %}{% endblock extra_css %}

{% block body_attribute %}{% endblock body_attribute %}

{% block preloader %}{% endblock preloader %}

{% block content %}

<div class="wrapper">

  {% include 'partials/topbar.html' %}
  {% include 'partials/horizontal-nav.html' %}

  <div class="content-page">

    {% block page_content %}{% endblock page_content %}

    {% include 'partials/footer.html' %}

  </div>

</div>

{% include 'partials/customizer.html' %}

{% block modal %}{% endblock modal %}

{% endblock content %}

{% block extra_javascript %}{% endblock extra_javascript %}
